
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginUser</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm("LoginConfirmed", "User"))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Login</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", @type = "Email" } })
                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.Editor("Password", new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
        <p>@Html.ActionLink("Register", "AddUser")</p>
        <div style="color:red">@ViewBag.Msg</div>
        <div style="color:red">@ViewBag.ErrorMsg</div>
        <div style="color:red">@ViewBag.abc</div>
    </div>
    }
</body>
</html>
